
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap');

body {
    background-color:    hsl(217, 19%, 24%) ;
  }

.divtwo{
      height: 375px;
      width: 600px;
      margin-top: 12%;
      margin-left: 500px;
      background-color:hsl(217, 18%, 28%);
      position:absolute;
      border-radius: 10px;
}

.advice{
     margin-left: 220px;
     margin-top:36px;
     font-size: 12px;
     color: hsl(150, 100%, 66%);
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.quote{
     margin-top: 45px;
     margin-left: 80px;
     margin-right: 10px;
     color: white;
     font-size: 28px;
     font-family: 'Manrope';
     font-weight: 800;
     height:110px;
     width:475px;
     overflow-wrap: break-word;
     word-wrap: break-word
      
}

.divider{
    margin-top: 60px;
    margin-left: 90px;

}

.dice{
    margin-top: 65px;
    margin-left: 290px;
    background-color: hsl(150, 100%, 66%);
    height: 45px;
    width:45px;
    border-radius: 100%;
    position: absolute;
    
}


.inter{
    height: 17px;
}

.dice:hover{
  background-color: hsl(150, 88%, 51%);
  box-shadow: 0 5px 15px rgba(2, 249, 55, 0.4);
}